0. 所有的题目结果中，给出SQL语句和执行结果。

1. 在新数据库中新建一张 user 表,插入几条数据,属性包含:唯一标识(id),姓名(name)性别(sex).年龄(age).联系方式(phone)，数据如下：

    ('John Doe', 'Male', 25, '123-456-7890')

    ('Jane Smith', 'Female', 31, '987-654-3210')
    
    ('Bob Johnson', 'Male', 22, '555-123-4567')

In [ ]:
CREATE TABLE user (
    id INT AUTO_INCREMENT PRIMARY KEY,  -- 唯一标识符，自动增长
    name VARCHAR(100),                  -- 姓名
    sex VARCHAR(10),                    -- 性别
    age INT,                            -- 年龄
    phone VARCHAR(20)                   -- 联系方式
);

INSERT INTO user (name, sex, age, phone)
VALUES 
    ('John Doe', 'Male', 25, '123-456-7890'),
    ('Jane Smith', 'Female', 31, '987-654-3210'),
    ('Bob Johnson', 'Male', 22, '555-123-4567');

SELECT * FROM user;

In [2]:
import sqlite3

# 连接到 SQLite 数据库（如果没有该数据库文件，会自动创建）
conn = sqlite3.connect('user_database.db')  # 这里会创建一个名为 user_database.db 的数据库文件
cursor = conn.cursor()

# 1. 创建 'user' 表
cursor.execute('''
    CREATE TABLE IF NOT EXISTS user (
        id INTEGER PRIMARY KEY AUTOINCREMENT,  -- 唯一标识符，自动增长
        name TEXT,                             -- 姓名
        sex TEXT,                              -- 性别
        age INTEGER,                           -- 年龄
        phone TEXT                             -- 联系方式
    )
''')

# 2. 插入数据
cursor.executemany('''
    INSERT INTO user (name, sex, age, phone) VALUES (?, ?, ?, ?)
''', [
    ('John Doe', 'Male', 25, '123-456-7890'),
    ('Jane Smith', 'Female', 31, '987-654-3210'),
    ('Bob Johnson', 'Male', 22, '555-123-4567')
])

# 提交更改
conn.commit()

# 3. 查询数据
cursor.execute('SELECT * FROM user')
rows = cursor.fetchall()

# 打印查询结果
for row in rows:
    print(row)

# 关闭连接
conn.close()

(1, 'John Doe', 'Male', 25, '123-456-7890')
(2, 'Jane Smith', 'Female', 31, '987-654-3210')
(3, 'Bob Johnson', 'Male', 22, '555-123-4567')

2. 写出 SQL语句,查询 user 表中所有年龄在 20-30 范围内的用户

In [ ]:
SELECT * FROM user
WHERE age BETWEEN 20 AND 30;

In [4]:
import sqlite3

# 连接到 SQLite 数据库（如果没有该数据库文件，会自动创建）
conn = sqlite3.connect('user_database.db')
cursor = conn.cursor()

# 查询所有年龄在 20 到 30 岁之间的用户
cursor.execute('SELECT * FROM user WHERE age BETWEEN 20 AND 30')

# 获取查询结果
rows = cursor.fetchall()

# 打印查询结果
for row in rows:
    print(row)

# 关闭连接
conn.close()

(1, 'John Doe', 'Male', 25, '123-456-7890')
(3, 'Bob Johnson', 'Male', 22, '555-123-4567')

3. 写出SQL语句，向user表中添加自己的个人信息，并添加几条和你姓名同姓的虚拟信息。

In [ ]:
CREATE TABLE user (
    name VARCHAR(100),
    gender VARCHAR(10),
    age INT,
    phone VARCHAR(20)
);
INSERT INTO user (name, gender, age, phone)
VALUES
    ('王志鸿', '男', 25, '138-1234-5678'),  -- 个人信息
    ('王志红', '男', 30, '138-2345-6789'),  -- 虚拟数据1
    ('王志绿', '女', 22, '138-3456-7890'),  -- 虚拟数据2
    ('王志蓝', '女', 28, '138-4567-8901');  -- 虚拟数据3

In [ ]:
import sqlite3

# 连接到 SQLite 数据库（如果没有该数据库文件，会自动创建）
conn = sqlite3.connect('user_database.db')
cursor = conn.cursor()

# 创建 user 表（如果没有的话）
cursor.execute('''
    CREATE TABLE IF NOT EXISTS user (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT,
        sex TEXT,
        age INTEGER,
        phone TEXT
    )
''')

# 向 user 表插入数据：个人信息 + 和自己姓名同姓的虚拟信息
cursor.executemany('''
    INSERT INTO user (name, sex, age, phone) VALUES (?, ?, ?, ?)
''', [
    ('王志鸿·', '男', 25, '138-1234-5678'),  # 这是你的个人信息
    ('王志红', '男', 30, '138-2345-6789'),  # 虚拟数据1
    ('王志绿', '女', 22, '138-3456-7890'),  # 虚拟数据2
    ('王志蓝', '女', 28, '138-4567-8901'),  # 虚拟数据3
])

# 提交更改
conn.commit()

# 查询所有数据，确认插入
cursor.execute('SELECT * FROM user')
rows = cursor.fetchall()

# 打印查询结果
for row in rows:
    print(row)

# 关闭数据库连接
conn.close()

(1, 'John Doe', 'Male', 25, '123-456-7890')
(2, 'Jane Smith', 'Female', 31, '987-654-3210')
(3, 'Bob Johnson', 'Male', 22, '555-123-4567')
(4, '王志鸿·', '男', 25, '138-1234-5678')
(5, '王志红', '男', 30, '138-2345-6789')
(6, '王志绿', '女', 22, '138-3456-7890')
(7, '王志蓝', '女', 28, '138-4567-8901')

4. 写出 SQL语句,查询 user 表中年龄在 20-30 范围内,名字包含“你的姓氏”的用户,并按照年龄从大到小排序输出

In [ ]:
SELECT * 
FROM user
WHERE age BETWEEN 20 AND 30  -- 年龄在 20 到 30 岁之间
  AND name LIKE '王%'        -- 姓名以“王”开头（假设你的姓是“王”）
ORDER BY age DESC;          -- 按年龄从大到小排序

In [ ]:
import sqlite3

# 连接到 SQLite 数据库（如果没有该数据库文件，会自动创建）
conn = sqlite3.connect('user_database.db')
cursor = conn.cursor()

last_name = '王'

# 执行 SQL 查询，查找年龄在 20-30 范围内且姓名包含姓氏“王”的用户
cursor.execute('''
    SELECT * FROM user 
    WHERE age BETWEEN 20 AND 30 
    AND name LIKE ?
    ORDER BY age DESC
''', ('%' + last_name + '%',))  # 使用 LIKE 进行模糊匹配

# 获取查询结果
rows = cursor.fetchall()

# 打印查询结果
for row in rows:
    print(row)

# 关闭数据库连接
conn.close()

(5, '王志红', '男', 30, '138-2345-6789')
(7, '王志蓝', '女', 28, '138-4567-8901')
(4, '王志鸿·', '男', 25, '138-1234-5678')
(6, '王志绿', '女', 22, '138-3456-7890')

5. 写出 SQL 语句,计算 user 表中所有用户的平均年龄

In [ ]:
SELECT AVG(age) FROM user;

In [9]:
import sqlite3

# 连接到 SQLite 数据库（如果没有该数据库文件，会自动创建）
conn = sqlite3.connect('user_database.db')
cursor = conn.cursor()

# 执行 SQL 查询，计算所有用户的平均年龄
cursor.execute('SELECT AVG(age) FROM user')

# 获取查询结果
average_age = cursor.fetchone()[0]

# 打印结果
print(f"所有用户的平均年龄是: {average_age}")

# 关闭数据库连接
conn.close()

所有用户的平均年龄是: 26.142857142857142

6. 新建两张表team 表(id,teamName)和score 表(id,teamid,userid,score)。其中score 表中的 teamid 为指向 team表id 的外键，userid 为指向 user表id的外键

In [ ]:
-- 创建 team 表
CREATE TABLE team (
    id INTEGER PRIMARY KEY AUTOINCREMENT,  -- 自增长的主键
    teamName TEXT NOT NULL                 -- 团队名称
);

-- 创建 score 表
CREATE TABLE score (
    id INTEGER PRIMARY KEY AUTOINCREMENT,  -- 自增长的主键
    teamid INTEGER,                        -- 团队ID，外键
    userid INTEGER,                        -- 用户ID，外键
    score INTEGER,                         -- 用户得分
    FOREIGN KEY (teamid) REFERENCES team(id),  -- 外键，指向 team 表的 id
    FOREIGN KEY (userid) REFERENCES user(id)   -- 外键，指向 user 表的 id
);

In [11]:
import sqlite3

# 连接到 SQLite 数据库（如果没有该数据库文件，会自动创建）
conn = sqlite3.connect('user_database.db')
cursor = conn.cursor()

# 创建 team 表
cursor.execute('''
CREATE TABLE IF NOT EXISTS team (
    id INTEGER PRIMARY KEY AUTOINCREMENT,  -- 自增长的主键
    teamName TEXT NOT NULL                 -- 团队名称
);
''')

# 创建 score 表
cursor.execute('''
CREATE TABLE IF NOT EXISTS score (
    id INTEGER PRIMARY KEY AUTOINCREMENT,  -- 自增长的主键
    teamid INTEGER,                        -- 团队ID，外键
    userid INTEGER,                        -- 用户ID，外键
    score INTEGER,                         -- 用户得分
    FOREIGN KEY (teamid) REFERENCES team(id),  -- 外键，指向 team 表的 id
    FOREIGN KEY (userid) REFERENCES user(id)   -- 外键，指向 user 表的 id
);
''')

# 提交事务
conn.commit()

# 关闭数据库连接
conn.close()

print("team 和 score 表已成功创建。")

team 和 score 表已成功创建。

7. 在team表中和score表中插入合适的记录，写出 SQL语句,查询 teamName 为“ECNU”的队伍中，年龄小于 20 的用户们，结果不得为空。

In [ ]:
-- 向 team 表插入一条记录，teamName 为 'ECNU'
INSERT INTO team (teamName) VALUES ('ECNU');

-- 假设已有 user 表，并且用户ID为 1, 2, 3 等，年龄小于 20
-- 向 score 表插入一些记录，假设 userid 分别为 1, 2, 3，teamid 为 "ECNU" 所对应的 teamid
INSERT INTO score (teamid, userid, score) VALUES (1, 1, 85);
INSERT INTO score (teamid, userid, score) VALUES (1, 2, 90);
INSERT INTO score (teamid, userid, score) VALUES (1, 3, 88);

-- 查询 teamName 为 'ECNU' 且年龄小于 20 的用户
SELECT u.userid, u.age, t.teamName
FROM score s
JOIN user u ON s.userid = u.userid
JOIN team t ON s.teamid = t.id
WHERE t.teamName = 'ECNU' AND u.age < 20;

In [17]:
import sqlite3

# 连接到 SQLite 数据库（如果没有会自动创建）
conn = sqlite3.connect('user_database.db')
cursor = conn.cursor()

# 启用外键支持
cursor.execute('PRAGMA foreign_keys = ON;')

# 删除旧的表（如果存在）
cursor.execute('DROP TABLE IF EXISTS user;')
cursor.execute('DROP TABLE IF EXISTS team;')
cursor.execute('DROP TABLE IF EXISTS score;')

# 创建 user 表，确保有 userid 和 age 字段
cursor.execute('''
CREATE TABLE user (
    userid INTEGER PRIMARY KEY,
    age INTEGER
);
''')

# 创建 team 表
cursor.execute('''
CREATE TABLE team (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    teamName TEXT
);
''')

# 创建 score 表，其中 teamid 是外键，指向 team 表，userid 是外键，指向 user 表
cursor.execute('''
CREATE TABLE score (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    teamid INTEGER,
    userid INTEGER,
    score INTEGER,
    FOREIGN KEY (teamid) REFERENCES team(id),
    FOREIGN KEY (userid) REFERENCES user(userid)
);
''')

# 插入数据到 user 表（假设用户数据）
cursor.execute("INSERT INTO user (userid, age) VALUES (1, 19);")  # 用户 1, 年龄 19
cursor.execute("INSERT INTO user (userid, age) VALUES (2, 18);")  # 用户 2, 年龄 18
cursor.execute("INSERT INTO user (userid, age) VALUES (3, 22);")  # 用户 3, 年龄 22

# 插入数据到 team 表
cursor.execute("INSERT INTO team (teamName) VALUES ('ECNU');")  # 创建名为 "ECNU" 的队伍

# 获取刚插入的 "ECNU" 队伍的 ID
cursor.execute("SELECT id FROM team WHERE teamName = 'ECNU';")
team_id = cursor.fetchone()[0]

# 插入数据到 score 表，模拟用户与队伍的关联
cursor.execute("INSERT INTO score (teamid, userid, score) VALUES (?, ?, ?);", (team_id, 1, 85))  # 用户 1 加入 "ECNU" 队伍，得分 85
cursor.execute("INSERT INTO score (teamid, userid, score) VALUES (?, ?, ?);", (team_id, 2, 90))  # 用户 2 加入 "ECNU" 队伍，得分 90
cursor.execute("INSERT INTO score (teamid, userid, score) VALUES (?, ?, ?);", (team_id, 3, 88))  # 用户 3 加入 "ECNU" 队伍，得分 88

# 查询 'ECNU' 队伍中年龄小于 20 的用户
cursor.execute('''
SELECT u.userid, u.age, t.teamName
FROM score s
JOIN user u ON s.userid = u.userid
JOIN team t ON s.teamid = t.id
WHERE t.teamName = 'ECNU' AND u.age < 20;
''')

# 获取查询结果并打印
result = cursor.fetchall()
for row in result:
    print(row)  # 输出每一行数据

# 提交事务并关闭连接
conn.commit()
conn.close()

(1, 19, 'ECNU')
(2, 18, 'ECNU')

8. 写出 SQL 语句,计算 teamName为“ECNU”的总分(假设 score 存在 null值,nul值默认为 0 加入计算)。

In [ ]:
SELECT SUM(COALESCE(s.score, 0)) AS total_score
FROM score s
JOIN team t ON s.teamid = t.id
WHERE t.teamName = 'ECNU';

In [18]:
import sqlite3

# 连接到 SQLite 数据库（如果没有会自动创建）
conn = sqlite3.connect('user_database.db')
cursor = conn.cursor()

# 查询 ECNU 队伍的总分，考虑 NULL 为 0
cursor.execute('''
SELECT SUM(COALESCE(s.score, 0)) AS total_score
FROM score s
JOIN team t ON s.teamid = t.id
WHERE t.teamName = 'ECNU';
''')

# 获取查询结果并打印
total_score = cursor.fetchone()[0]
print(f"Total score for team 'ECNU': {total_score}")

# 关闭连接
conn.close()

Total score for team 'ECNU': 263

9. 写出SQL语句，删除user表中个人信息的记录。

In [ ]:
DELETE FROM user;

In [19]:
import sqlite3

# 连接到 SQLite 数据库
conn = sqlite3.connect('user_database.db')
cursor = conn.cursor()

# 删除 user 表中所有的记录
cursor.execute('DELETE FROM user;')

# 提交更改并关闭连接
conn.commit()
conn.close()

print("已删除user表中个人信息的记录")

已删除user表中个人信息的记录